<h1>Rutas LazyLoad</h1>
<h2>Authentication</h2>
<ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Register</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">Forgot Pwd</a>
  </li>
</ul>
<h2>Products</h2>
<ul>
  <li>
    <a routerLink="/product/lisart">Listar Productos</a>
  </li>
  <li>
    <a routerLink="/product/agregar">Agregar Productos</a>
  </li>
</ul>
<h2>Users Profile</h2>
<ul>
  <li>
    <a routerLink="/users/profile">Perfile del usuario</a>
  </li>
  <li>
    <a routerLink="/users/editar">Editar del usuario</a>
  </li>
</ul>
<h2>Cart</h2>
<ul>
  <li>
    <a routerLink="/cart/listar">Ir al carrito de compras</a>
  </li>
</ul>
<router-outlet></router-outlet>